/* From Uiverse.io by PhyoTP */ 
/* Minecraft switch made by: csozi | Website: english.csozi.hu*/

/* The switch - the box around the slider */
.switch {
  font-size: 30px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 0.3em;
  margin-top: 30px;
  margin-right: 20px;
}

.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #900c3f;
  transition: 0.4s;
}

.off {
  position: absolute;
  content: "";
  height: 2em;
  width: 2em;
  background-color: white;
  transition: 0.4s;
  image-rendering: pixelated;
  opacity: 1;
  left: 0;
  bottom: -0.8em;
}

.on {
  position: absolute;
  content: "";
  height: 2em;
  width: 2em;
  background-color: white;
  transition: 0.4s;
  image-rendering: pixelated;
  opacity: 0;
  left: 0;
  bottom: -0.8em;
}

.switch input:checked + .slider {
  background-color: #c70039;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #c70039;
}

.switch input:checked ~ .off {
  transform: translateX(2em);
}

.switch input:checked ~ .on {
  transform: translateX(2em);
  opacity: 1;
}


  #tspp{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  