.bounding-box{
    position: absolute;
    box-shadow:  0 0 0 3px #149df2 inset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}
/* FaceReco.css */
.center {
    display: flex;
    justify-content: center;

    /* align-items: center; */
    /* height: 60vh; */
  }
  
  .absolute {
    position: relative;
  }
  
  .bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }
  
  /* Add some margin to the bottom of the FaceReco component */
  .face-reco {
    margin-bottom: 50px;
  }
  