.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    /* padding: 16px 24px; */
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    margin-top: 0%;
    will-change: transform;
  }
  .flexy{
    display:flex;

    /* background-color: #1A1A1A; */
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }
  /* Base styles for the page */
body {
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s; /* Smooth transition for theme change */
  background-color: #ffffff; /* Default light theme background */
  color: #000000; /* Default light theme text color */
}

/* Hidden checkbox for theme toggle */
.theme-switch {
  display: none;
}

/* Label styled as a button */
.switch-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333; /* Button color */
  color: white; /* Button text color */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Button hover effect */
.switch-button:hover {
  background-color: #555;
}

/* Change background and text color when checkbox is checked */
.theme-switch:checked ~ body {
  background-color: #2c2c2c; /* Dark theme background */
  color: #ffffff; /* Dark theme text color */
}

/* Styling for the modal and overlay */
.modal-container, .modal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 5;
}

.modal-overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 40px;
  max-width: 600px;
  min-width: 300px;
  color: black;
  height: fit-content;
  margin-top: 20%;
}

/* Styling for the modal close button */
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  color: #2B4262;
  display: flex;
  align-items: flex-end;
}

/* Styling for the modal description text */
.modal-description {
  color: black;
  font-size: medium;
}

*{
  z-index: 99;
}