.yapp{
   /* Yapping.css */


    margin-top: 60vh;

    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px; /* Optional: Adjust padding as needed */
    border-radius: 8px; /* Optional: For rounded corners */
    margin-bottom: 20px;
}