.displayProjects{
    display: flex;
    
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
    overflow: none;
    /* background-color: blueviolet; */
}

.elementt{
    width:60vh;
    height:50vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    margin: 30px;
    overflow: none;
    
}
button{
    background:none;
    border: none;
}

@keyframes appear{
    from {
        opacity : 0 ;
        scale : 0.5;
        
    }
    to{
        opacity: 1;
        scale:1;
    }
}



.block{
    animation : appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40% ;
}
