.App {
  text-align: center;
}
.center{
  display: flex;
  justify-content: center;
  text-align: center;

}
#tspp{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.nav-bar{
  /* box-shadow: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  padding: 13px;
  width: 100%;
  height:20vw; */
  background: rgba(0, 0, 0, 2); /* Black background with 50% opacity */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
  color: white;
  padding: 1rem;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  z-index: 10;
  height:fit-content;
  padding: auto;
}
.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust the gap as needed */
  padding: 20px;
}







.content{
  position: relative;
  z-index: 2;
}
.SignInIndex{
  z-index: 2;
}
.FaceReco{
  z-index: 2;
}
.Yapping{
  z-index: 2;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
